
<script src="~/js/home.js" asp-append-version="true" defer></script>
<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />

<!-- nav das seções da página -->
<div id="n2">
    <nav>
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <span>|</span>
            <li><a asp-area="" asp-controller="Home" asp-action="SobreNos">Sobre nós</a></li>
            <span>|</span>
            <li><a asp-area="" asp-controller="Home" asp-action="Colaboradores">Colaboradores</a></li>
            <span>|</span>
            <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Como ajudar?</a></li>
            <span>|</span>
            <li><a asp-area="" asp-controller="Home" asp-action="Contato">Contato</a></li>
        </ul>
    </nav>
</div>
<br>

<!-- header da seção como ajudar? -->
<div id="header-de-cada-secao">
    <img src="~/img/coração.png" id="coracao">
    <span id="texto-da-header">
        Como ajudar?
    </span>
</div>
<br>
<!-- resto da página explicando de forma mais direta como você pode ajudar; imagem da plantinha -->
<h1 id="titulo-vermelho">
    Faça a Diferença!
</h1>
<img src="~/img/plantinha.png" alt="Plantinha." id="plantinha">
<p>
    Há várias maneiras de se envolver e apoiar nossa causa!<br> Veja como você pode ajudar:
</p>
<br>
<!-- forma 1 - imagem da sopinha -->
<h2 id="titulo-vermelho">Doe Alimentos</h2>
<img src="~/img/sopinha.png" id="sopinha">
<p id="center"> Se você é agricultor, cadastre-se<br> e <a href="doacao2.html" id="ancora-vermelha">doe</a> seus excedentes de produção.</p>
<br>
<!-- forma 2 - imagem das mãos dadas -->
<h2 id="titulo-vermelho">Divulgue</h2>
<img src="~/img/maosdadas.png" alt="Mãos dadas simbolizando união." id="maosdadas">
<p id="center" style="margin-left: -0.5%;">Espalhe a palavra sobre nossa missão<br> e ajude-nos a alcançar mais pessoas necessitadas.</p>

<br>
<!-- textinho final -->
<p>Juntos, podemos fazer uma grande diferença na luta contra o desperdício de alimentos e a fome. <br>Cadastre-se hoje mesmo e junte-se a nós nessa causa!</p>
<br>
