body{
    margin: 0;
    padding: 0;
    background-color: #e8cf9c;
}
#n3{
    margin: 0%;
    justify-content: left;
}
#h1p{
    text-align: center;
    background-color: #F6C973;
    border: 5px solid #C1554C;
    padding: 20px;
}
#btn1{
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    background-color: whitesmoke;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 30px;
    text-decoration: none; 
    padding: 30px;
    margin-left: 40%;
    cursor: pointer;
}
#btn2{
    text-align: center;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    background-color: whitesmoke;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 30px;
    text-decoration: none; 
    padding: 30px 65px 20px 60px;
    margin-left: 40%;
    margin-top: 1%;
    cursor: pointer;
}
#btn3{
    text-align: center;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    background-color: whitesmoke;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 30px;
    text-decoration: none; 
    padding: 30px 14px 20px 20px;
    margin-left: 40%;
    margin-top: 1%;
    cursor: pointer;
}
#a1{
    flex-direction: column;
    margin-top: 10%;
}
#casinha{
    position: absolute;
    margin-top: -6%;
    margin-left: 93%;
   
}



@media (max-width: 767px){
    body{
        margin: 0;
        padding: 0;
        background-color: #e8cf9c;
    }
    a:active{
    text-decoration: none;
}
    #n3{
        margin: 0%;
        margin-left: 40%;
        justify-content: center;
        background-image: url(Logo\ maior\ sozinho.png);
        background-repeat: no-repeat;
        width: 110px;
        height: 110px;
        margin-top: 10%;
        margin-bottom: 10px;
        }
    #h1p{
        text-align: center;
        background-color: #F6C973;
        border: 5px solid #C1554C;
        padding: 20px;
        font-size: 25px;
        width: 91%;
        margin-top: 40px;
        margin-left: 10%;
        margin: 0;
    }
    #logo{
        display: none;
    }
    #btn1{
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(0, 0, 0);
        background-color: whitesmoke;
        border: 5px solid rgb(0, 0, 0);
        border-radius: 30px;
        text-decoration: none; 
        padding: 30px;
        margin-left: 28%;
        cursor: pointer;
    }
    #btn2{
        text-decoration: none;
        text-align: center;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(0, 0, 0);
        background-color: whitesmoke;
        border: 5px solid rgb(0, 0, 0);
        border-radius: 30px;
        text-decoration: none; 
        padding: 30px 50px 20px 50px;
        margin-left: 28%;
        margin-top: 1%;
        cursor: pointer;
    }
    /* #btn3{
        text-align: center;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(0, 0, 0);
        background-color: whitesmoke;
        border: 5px solid rgb(0, 0, 0);
        border-radius: 30px;
        text-decoration: none; 
        padding: 30px 20px 25px 20px;
        margin-left: 15%;
        margin-top: 1%;
        cursor: pointer;
    } */
    #a1{
        flex-direction: column;
        margin-top: 10%;
    }
    #casinha{
        position: absolute;
        margin-top: -25%;
        margin-left: 84%;
        width: 10px;
        height: 10px;
    }
    
}

@media (min-width: 768px) and (max-width: 992px){
    body{
        margin: 0;
        padding: 0;
        background-color: #e8cf9c;
    }
    #n3{
        margin: 0%;
        justify-content: left;
    }
    #h1p{
        text-align: center;
        background-color: #F6C973;
        border: 5px solid #C1554C;
        padding: 20px;
    }
    #btn1{
        font-size: 45px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(0, 0, 0);
        background-color: whitesmoke;
        border: 5px solid rgb(0, 0, 0);
        border-radius: 30px;
        text-decoration: none; 
        padding: 30px;
        margin-left: 33%;
        cursor: pointer;
    }
    #btn2{
        text-align: center;
        font-size: 45px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(0, 0, 0);
        background-color: whitesmoke;
        border: 5px solid rgb(0, 0, 0);
        border-radius: 30px;
        text-decoration: none; 
        padding: 30px 65px 20px 60px;
        margin-left: 33%;
        margin-top: 1%;
        cursor: pointer;
    }
    #btn3{
        text-align: center;
        font-size: 45px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(0, 0, 0);
        background-color: whitesmoke;
        border: 5px solid rgb(0, 0, 0);
        border-radius: 30px;
        text-decoration: none; 
        padding: 30px 14px 20px 20px;
        margin-left: 33%;
        margin-top: 1%;
        cursor: pointer;
    }
    #a1{
        flex-direction: column;
        margin-top: 10%;
    }
    #casinha{
        position: absolute;
        margin-left: 90%;
        margin: -111px 10px 15px 90%;
    }
    
    .i{
        display: none;
    }
}