body {
    padding: 0;
    margin: 0;
    background-color: #e8cf9c;

}

#n3 {
    margin: 0%;
    justify-content: left;

}

#fundo {
    display: flex;
    position: absolute;
    margin-left: 30%;
    background-color: #F6C973;
    width: 40%;
    height: 121%;
    border: 10px solid #C1554C;
    border-radius: 20px;
    align-content: center;
    margin-top: 6%;
}

#fundo2{
    display: flex;
    position: absolute;
    margin-left: 30%;
    background-color: #F6C973;
    width: 40%;
    height: 135%;
    border: 10px solid #C1554C;
    border-radius: 20px;
    align-content: center;
    margin-top: 6%;
    margin-bottom: 20%;
}

#fundo3{
    display: flex;
    position: absolute;
    margin-left: 30%;
    background-color: #F6C973;
    width: 40%;
    height: 125%;
    border: 10px solid #C1554C;
    border-radius: 20px;
    align-content: center;
    margin-top: 6%;
    margin-bottom: 20%;
}
section {

    align-items: center;
    justify-content: center;
    height: 70vh;
    margin-top: 30px;
}

form {
    font-family: Arial, Helvetica, sans-serif;

}

form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-left: 250px;

}

form input {
    background-color: whitesmoke;
    outline: unset;
    padding: 10px;
    width: 300px;
    border: 2px solid whitesmoke;
    border-radius: 15px;
    margin-top: 3%;
    margin-left: -25%; 
}

form button {
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 5%;
}

#btn {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #C1554C;
    font-weight: bold;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: #C1554C;
    margin-left: 25px;
    margin-right: 95px;
    border-radius: 20px;
    padding: 10px 100px 10px 90px;
}

form label {
    margin-left: -22%;
    font-size: 20px;
}

#login {
    margin-left: -28%;
}

#login2 {
    margin-left: -28%;
}

a {
    color: #C1554C;
    text-decoration: none;
}

a:active {
    text-decoration: none;
    color: #88433d;
}

#btn:active {
    background-color: #b94d44;
}

#mar {
    margin-left: -8%;
    font-size: 25px;
    margin-top: 10%;
}

#homem {
    margin-left: 32%;
    position: absolute;
    margin-top: -24%;
    width: 30%;
    height: 40%;
}

#casinha {
    position: absolute;
    margin-top: -5%;
    margin-left: 90%;
}

.botao {
    border: solid 0px #000000;
    border-radius: 30px;
    color: #000000;
    background-color: whitesmoke;
    font-size: 30px;
    margin-left: -8%;
    padding-left: 15px;
    padding-right: 15px;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    cursor: pointer;
}

.botao2 {
    border: solid 0px #000000;
    border-radius: 30px;
    color: #000000;
    background-color: whitesmoke;
    font-size: 30px;
    margin-left: -8%;
    padding-left: 15px;
    padding-right: 15px;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    cursor: pointer;
}

.botao:hover {
    border: #ad382d;
    background-color: #ad382d;
    color: whitesmoke;
    transform: scale(1.1)
}

.botao2:hover {
    border: #ad382d;
    background-color: #ad382d;
    color: whitesmoke;
    transform: scale(1.1)
}

#txtarea{
    margin-top: 1%;
}
#CPF{
    margin-top: 1%;
}
#nascimento{
    margin-top: 1%;
}
#senha{
    margin-top: 1%;
}
#csenha{
    margin-top: 1%;
}
#email{
    margin-top: 1%;
}
#tell{
    margin-top: 1%;
}
#famil{
    margin-top: 1%;
}